---
import "../styles/global.css";
import Article from "./Article.astro";
import PinnedArticles from "../data/pinned_articles.json";
import RSSParser from "rss-parser";

const parser = new RSSParser();
const feed = await parser.parseURL("https://medium.com/feed/@2h3ph3rd");

const feedArticles = feed.items
  .map((item) => {
    if (!item.content || !item.title || !item.link) {
      return undefined;
    }

    const imgMatch = item.content.match(/<img[^>]+src="([^">]+)"/);
    const thumbnail = imgMatch ? imgMatch[1] : "/default-thumbnail.jpg";

    let description = "";
    if (item.contentSnippet) {
      description = item.contentSnippet
        .replace(/\s*Continue reading on .* »$/i, "")
        .trim();
    }

    let date = new Date();
    if (item.pubDate) {
      date = new Date(item.pubDate);
    }

    return {
      title: item.title ?? "",
      description: description,
      thumbnail: thumbnail ?? "/default-thumbnail.jpg",
      date: date,
      link: item.link ?? "",
      pinned: false,
    };
  })
  .filter((article) => article !== undefined);

const articles = [...PinnedArticles, ...feedArticles];
---

<div class="glassy-card mx-48 mt-8 py-8">
  <h2 class="py-3 text-center text-2xl font-bold tracking-tight text-gray-100">
    Latest Articles
  </h2>
  <p class="text-center text-gray-300">
    Check out my latest articles on Medium
  </p>
</div>

<div
  class="mx-4 mt-8 grid grid-cols-1 gap-4 lg:mx-16 2xl:mx-48 2xl:grid-cols-2"
>
  {
    articles.map((article) => (
      <Article
        title={article.title}
        description={article.description}
        thumbnail={article.thumbnail}
        date={article.date}
        link={article.link}
        pinned={article.pinned}
      />
    ))
  }
</div>
